<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ path('main_page') }}">It's Me</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('main_page') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">A propos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Technologies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Projets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    
<!-- Moteur de recherche 
   <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form> 
--> 

{% if app.user is not null %}

Bonjour : {{app.user.email}}.

<a href="{{path('easyadmin')}}">PanelAdmin</a>

{% endif %}

{% if app.user is null%}
    <a class="nav-link" href="{{path('app_login')}}">Connexion</a>
    {% else %}
    <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
{% endif %}




  </div>
</nav>