<!-- Projects : debut -->
<div class="card-deck mt-3">

{% for project in projects %}
  <div class="card project">
    <img class="card-img-top project__picture" src="{{ project.picture }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ project.name }}<span class="badge badge-primary">{{ project.type }}</span> </h5> 
      <p class="card-text">{{ project.resume }}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{ project.createdAt|date("m/d/Y") }}</small>
    </div>
  </div>
{% endfor %}

</div>
<!-- Projects : fin -->