<!-- Technologies & Expériences : debut -->
<div class="card mt-3">
    <div class="row no-gutters">
        <div class="col-12 col-md-4 ">
            <div class="card-body">
                <h5 class="card-title"><a href="#">Technologies</a></h5>
            <ul class="list-group list-group-flush">
            {% for technologie in technologies %}
                <li class="list-group-item">{{ technologie.name }} </li>
            {% endfor %}
                <li class="list-group-item"><a href="#">Voir plus...</a></li>

            </ul>
            </div>
        </div>
        <div class="col-12 col-md-8 ">
            <div class="card-body">
                <h5 class="card-title"><a href="#">Experiences</a></h5>
            </div>
            <div class="card-body">
            {% for experience in experiences %}         
                <p class="card-text">{{experience.dateBegin|date('Y')}} - {{experience.dateEnd|date('Y')}} : {{experience.job}} - {{ experience.CompanyName }}</p>
            {% endfor %}
                <p class="card-text"><a href="#">Voir plus...</a></p>
            </div>
        </div>
    </div>
</div>

<!-- Technologies & Expériences : fin -->
